.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-left: 0;
}

.portfolio-container-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-name {
    padding-top: 32px;
    padding-left: 16px;
    margin-bottom: 8px;
}

.portfolio-text {
    padding-left: 16px;
    padding-bottom: 32px;
}